BipitKr/BipitKr/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRequests">
        <s:complexType />
      </s:element>
      <s:element name="GetRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="problem" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRequestsResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="problem" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequestsResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRequests">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRequestsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequests" />
  </wsdl:message>
  <wsdl:message name="GetRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="AddRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:AddRequests" />
  </wsdl:message>
  <wsdl:message name="AddRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:AddRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequests" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRequests" />
  </wsdl:message>
  <wsdl:message name="DeleteRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetRequests">
      <wsdl:input message="tns:GetRequestsSoapIn" />
      <wsdl:output message="tns:GetRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddRequests">
      <wsdl:input message="tns:AddRequestsSoapIn" />
      <wsdl:output message="tns:AddRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequests">
      <wsdl:input message="tns:UpdateRequestsSoapIn" />
      <wsdl:output message="tns:UpdateRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequests">
      <wsdl:input message="tns:DeleteRequestsSoapIn" />
      <wsdl:output message="tns:DeleteRequestsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequests">
      <soap:operation soapAction="http://tempuri.org/GetRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequests">
      <soap:operation soapAction="http://tempuri.org/AddRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequests">
      <soap:operation soapAction="http://tempuri.org/UpdateRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequests">
      <soap:operation soapAction="http://tempuri.org/DeleteRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequests">
      <soap12:operation soapAction="http://tempuri.org/GetRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRequests">
      <soap12:operation soapAction="http://tempuri.org/AddRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequests">
      <soap12:operation soapAction="http://tempuri.org/UpdateRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequests">
      <soap12:operation soapAction="http://tempuri.org/DeleteRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://localhost:44353/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://localhost:44353/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>